:root {
}

body{	 
	 font-family: calibri;
	 font-size: 14pt;
	 margin:0;
	 padding:0;
	
}

p {
	display: block;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0em;
	margin-bottom: 2em;
}
 
.main {
	margin:2% 20%;
	padding: 0% 1%;
}
 
/*IMAGES*/
.logo{
	width: 8%;
	border: 3px solid black;
}

.profile{
	margin-left: 2em;
	border: 3px solid black;
	width: 25%;
}

.building{
	margin: 1em;
	border: 3px solid black;
	width: 50%;
}

/*END-IMAGES*/

/*HEADERS*/
.headerdiv{
	padding:10px;	
	background-color:#1e725b;
	height:30%;
} 

.homeheader {
	justify-content: space-between;
}

.pageheader{
	color:white;
	font-size:30pt;
	font-weight:900;
	display: flex;
	align-items: flex-end;
}

.pageheader a {
	 color: white;
}
 
.pageheader a:hover{
	color: black;
}

h1{
	color:#1e725b;
	font-size:2em;
	font-weight:900;
}
h2{
	color:#1e725b;
	font-size:1.5em;
	font-weight:900;
}
h3{	 
	color:#1e725b;
	font-weight:900;
	clear:both;
}
h4{
	color:#1e725b;
	font-weight:900;
	clear:both;
}

/*END-HEADERS*/

/*NAVBAR-CONTAINER*/
.navbar {
	overflow: hidden;
	width:100%;
}

.navdiv{
	overflow: hidden;
	background-color: #040404;	
	width:100%;
	margin: 0 0 0 0;
	padding:0;
	border-bottom:1px solid gray;
}

.navbar a {
	float: left;
	font-size: .9em;
	color: white;
	text-align: center;
	padding: .8em 1em;
	text-decoration: none;
}

.navbar a:hover{
	color: #1e725b;
}

/*END-NAVBAR-CONTAINER*/

.textlink a {
	color: #1e725b;
}

.textlink a:hover{
	color: black;
}

